In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('dark_background')

In [ ]:
df = pd.read_csv('~/Downloads/Crop_recommendation.csv')
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [ ]:

df.info()
df = df.dropna()
df.isnull().sum().sum()
df.shape
type(df)

(2200, 8)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 154.7+ KB

<bound method Series.unique of 0         rice
1         rice
2         rice
3         rice
4         rice
         ...
2195    coffee
2196    coffee
2197    coffee
2198    coffee
2199    coffee
Name: label, Length: 2200, dtype: object>

In [ ]:
df['label'].unique

<bound method Series.unique of 0         rice
1         rice
2         rice
3         rice
4         rice
         ...
2195    coffee
2196    coffee
2197    coffee
2198    coffee
2199    coffee
Name: label, Length: 2200, dtype: object>

In [ ]:
x = df.drop(['label'], axis = 1)
y = df['label']
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)
type(x_train)
y_train, y_test = np.array(y_train), np.array(y_test)

In [ ]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse = False)
y1reshaped = y_train.reshape(len(y_train), 1)
Ytr = encoder.fit_transform(y1reshaped)
y2reshaped = y_test.reshape(len(y_test), 1)
Yts = encoder.fit_transform(y2reshaped)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier  
model = KNeighborsClassifier(n_neighbors=3)
model.fit(x_train,Ytr)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
model.predict(x_test)
mt3 = np.matrix(Yts)
mt4 = np.matrix(model.predict(x_test))
diff2 = np.abs(mt3 - mt4)
errts_count = len(diff2) - len(np.where(~diff2.any(axis=1))[0])
print('percentage error:',errts_count*100/len(Yts),'%')

percentage error: 1.8181818181818181 %

In [ ]:
import pickle
pickle.dump(model, open('./model.sav', 'wb'))